* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form-components {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  bottom: 0;
  height: 40%;
  width: 100%;
  color: #d9e0e6;
}

#start-new-form,
#clear-form {
}

.selector-btn {
  height: 25%;
  width: 3%;
  margin: 3px;
  min-width: 20%;
  overflow-wrap: break-word;
  border-radius: 5px;
  border-color: rgba(21, 83, 137, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(21, 83, 137, 0.8);
}

.selector-btn:hover {
  background-color: rgba(225, 159, 60, 1);
  cursor: pointer;
  color: #d9e0e6;
  transition: background-color 0.5s linear;
}

.form-container {
  width: 80%;
  margin-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container,
.standalone-container {
  border: 1px solid #155389;
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 5px 5px 5px;
}

.prompt-container {
  width: 80%;
  max-height: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
}

.prompt-container textarea,
.prompt-container p {
  width: 100%;
}

.question-drag-bar {
  width: 10%;
  margin-left: 10%;
  min-height: 20px;
  margin-top: 10px;
  border: 1px solid #155389;
  border-radius: 4px 4px 0 0;
  align-self: flex-start;
  background-color: #155389;
  color: white;
  text-align: center;
}

.response-drag-bar {
  width: 10%;
}

.response-drop-area {
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.response-drag-bar:hover {
  cursor: grab;
}

.question-drag-bar:hover {
  cursor: grab;
}

.question-drop-area {
  width: 100%;
  height: 10px;
  background-color: rgba(225, 159, 60, 0.4);
  border-radius: 5px;
}

.responses-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: auto;
}

.response-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.response-label-container {
  width: 45%;
  margin-left: 6px;
}

.response-label-container input {
  max-width: 100%;
}

.response-label-container span {
  max-width: 100%;
}

.input-mode-container.radio,
.input-mode-container.checkbox {
  max-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-response-row {
  width: 10%;
  margin-left: 10px;
}

.delete-response-row:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.73);
}

.input-and-label-container {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.delete-standalone,
.delete-question {
  align-self: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.delete-standalone:hover,
.delete-question:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.73);
}

.add-response-row {
  cursor: pointer;
  align-self: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}

#test-block1 {
  height: 50px;
  width: 50px;
  border: 1px dashed black;
  background-color: rgba(255, 220, 176, 0.15);
}

#test-block2 {
  height: 50px;
  width: 50px;
  border: 1px dashed black;
  background-color: rgba(128, 92, 112, 0.65);
}

#test-block3 {
  height: 50px;
  width: 50px;
  border: 1px dashed black;
  background-color: rgba(64, 100, 48, 0.9);
}

div.table-container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

div.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

div.row.delete-icon-container {
}

.delete-icon:hover {
  color: tomato;
  cursor: pointer;
}

div.cell {
  width: 130px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(21, 83, 137, 1);
  border-radius: 5px;
}

div.column.cell.header,
div.row.cell.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.cell input[type="text"] {
  width: 100%;
}

div.row.gutter {
  min-width: 100%;
  min-height: 10px;
  border: 1px dashed black;
  visibility: hidden;
}

div.column.gutter {
  width: 10px;
  min-width: 10px;
  min-height: 100%;
  border: 1px dashed black;
  visibility: hidden;
}

.column.header.text-container {
  width: fit-content;
}

.row.header.text-container {
  width: fit-content;
}

.user-input.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.hover {
  background-color: rgba(225, 159, 60, 0.66);
  border: 1px solid transparent;
  box-shadow: 2px 2px 5px 1px #ccc;
}
