* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-form-components {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.form-container {
  width: 80%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-container,
.standalone-container {
  border: 1px solid black;
  width: 80%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-container {
  width: 80%;
  max-height: fit-content;
  margin-bottom: 10px;
  margin-top: 10px;
}

.prompt-container textarea,
.prompt-container p {
  width: 100%;
}

.question-drag-bar {
  width: 10%;
  margin-left: 10%;
  min-height: 20px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 4px 4px 0 0;
  align-self: flex-start;
  background-color: black;
  color: white;
  text-align: center;
}

.response-drag-bar {
  width: 10%;
}

.response-drop-area {
  display: block;
  width: 100%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.response-drag-bar:hover {
  cursor: grab;
}

.question-drag-bar:hover {
  cursor: grab;
}

.question-drop-area {
  width: 100%;
  min-height: 10px;
  max-height: 40px;
  background-color: gray;
}

.responses-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow: auto;
}

.response-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.response-label-container {
  width: 45%;
  margin-left: 6px;
}

.response-label-container input {
  max-width: 100%;
}

.response-label-container span {
  max-width: 100%;
}

.input-mode-container.radio,
.input-mode-container.checkbox {
  max-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-response-row {
  width: 10%;
  margin-left: 10px;
}

.delete-response-row:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.73);
}

.input-and-label-container {
  display: flex;
  flex-direction: row;
  width: 85%;
}

.delete-standalone,
.delete-question {
  align-self: flex-end;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.delete-standalone:hover,
.delete-question:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.73);
}

.add-response-row {
  cursor: pointer;
  align-self: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}

#test-block1 {
  height: 50px;
  width: 50px;
  border: 1px dashed black;
  background-color: rgba(255, 220, 176, 0.15);
}

#test-block2 {
  height: 50px;
  width: 50px;
  border: 1px dashed black;
  background-color: rgba(128, 92, 112, 0.65);
}

#test-block3 {
  height: 50px;
  width: 50px;
  border: 1px dashed black;
  background-color: rgba(64, 100, 48, 0.9);
}
/* for table.jsx */
/* th.column-drop-cell,
td.column-drop-cell {
  background-color: black;
  min-width: 5px;
  height: 10px;
}

.drop-row {
  height: 10px;
  background-color: black;
}

.column-header-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 90px;
}

.drag-hamburger-in-cell:hover {
  cursor: grab;
}

.delete-column-icon:hover {
  cursor: pointer;
  color: rgba(255, 0, 0, 0.73);
} */
/* for table.jsx */

div.table-container {
  display: flex;
  flex-direction: column;
  min-width: 80%;
}

div.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

div.row.delete-icon-container {
}

div.cell {
  width: 90px;
  overflow: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.cell input[type="text"] {
  width: 100%;
}

div.row.gutter {
  min-width: 100%;
  min-height: 10px;
  border: 1px dashed black;
  visibility: hidden;
}

div.column.gutter.cell {
  width: 10px;
  min-width: 10px;
  min-height: 100%;
  border: 1px dashed black;
  visibility: hidden;
}

.column.header.cell.text-container {
  width: fit-content;
}

.row.header.cell.text-container {
  width: fit-content;
}
